@use "@/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.body {
  background-color: rgb(23, 23, 23);
  color: variables.$font-color;
}

.flex {
  display: flex;

  &_column {
    flex-direction: column;
  }

  &_center {
    justify-content: center;
    align-items: center;
  }
}
