@use "@/styles/variables";

.main {
  height: 97dvh;
  margin: 0;

  &_wrapper {
    gap: 1rem;
    border: solid 2px green;
    border-radius: variables.$br-1;
    padding: 2rem;
    width: 50%;
  }

  &_input_wrapper {
    gap: 0.25rem;

    .label {
      color: rgba(variables.$font-color, 0.5);
    }
  }

  .button_wrapper {
    margin-top: 0.5rem;
    justify-content: space-between;
  }

  @media (min-width: 850px) {
    margin: 0rem 8rem;
  }
}
